$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-back: #f6f6f6;
$color-quaternary: white;
$color-quinary: black;
$color-back-localisation: #eaeaea;
$color-back-footer: #353535;
$color-new: #008766;
$color-icon: #7e7e7e;
$shadow-btn: 1px 5px 6px rgb(0, 0, 0, 0.1);